/*=============== CONNECTING FONTS ===============*/

/* Local Fonts */
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
        url('../fonts/montserrat-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
        url('../fonts/montserrat-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/*=============== VARIABLES CSS ===============*/
:root {

  /*========== FONT-FAMILY ==========*/

  /* Main font */
  --main-font-family: 'Montserrat', sans-serif;

  /*========== COLOR ==========*/

  /* Change favorite color (0 - red, 60 - yellow, 120 - green, 180 - cyan, 240 - blue, 300 - magenta) */
  --hue-color: 220;
  /* HSL color mode */
  --primary-color: hsl(var(--hue-color), 40%, 27%);
  --second-color: hsl(var(--hue-color), 28%, 39%);
  --third-color: hsl(var(--hue-color), 89%, 93%);
  --fourth-color: hsl(var(--hue-color), 20%, 62%);
  --black-color: hsl(0, 100%, 0%);

  /*========== FONT-WEIGHT ==========*/

  --primary-font-weight: 700;

  /*========== FONT-SIZE ==========*/

  /* Base font-size ( .5rem = 8px, 1rem = 16px, 1.5rem = 24px ...) */
  --text-size-base: 1.25rem;

  /*========== MARGIN ==========*/

  --mb-1-5: 1.5rem;

  /*========== PADDING ==========*/

  --pt-1-5: 1.5rem;
  --p-1-25: 1.25rem;

  /*========== GAP ==========*/

  --gp-1-25: 1.25rem;
  --gp-3-125: 3.125rem;

  /*========== BORDER-RADIUS ==========*/

  --main-br: 30px;
  --secondary-br: 15px;
}

/*=============== STYLING THE MAIN ELEMENTS ===============*/

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: var(--pt-1-5) 0;
  font-family: var(--main-font-family);
  font-size: calc(var(--text-size-base) + 1rem);
  color: var(--black-color);
  background: var(--primary-color);
}

.inner {
  width: min(1900px, 100%);
  min-height: 950px;
  border-radius: var(--main-br);
  background: var(--second-color);
}

.inner:not(:last-child) {
  margin-bottom: var(--mb-1-5);
}

.inner-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: var(--gp-1-25);
  padding: var(--pt-1-5);
}

.inner-1__box {
  display: grid;
  place-items: center;
  padding: var(--p-1-25);
  border-radius: var(--main-br);
}

.inner-1__box_color_cyan {
  background: hsl(157, 45%, 57%);
}

.inner-1__box_color_orange {
  background: hsl(36, 100%, 50%);
}

.inner-1__box_color_green {
  background: hsl(91, 85%, 74%);
  grid-column: 2 / 4;
  grid-row: 2 / 4;
}

.inner-1__box_color_magenta {
  background: hsl(283, 90%, 50%);
}

.inner-1__box_color_pink {
  background: hsl(315, 85%, 61%);
  grid-column: 1 / 1;
}

.inner-1__box_color_blue {
  background: hsl(204, 100%, 56%);
}

.inner-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: var(--gp-1-25);
  padding: var(--p-1-25);
}

.inner-2__box {
  display: grid;
  place-items: center;
  border-radius: var(--main-br);
  background: var(--third-color);
}

.inner-2__box_mansoryi {
  grid-row: 1 / 3;
}

.inner-2__box_flexible {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.inner-2__box_dom {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.inner-2__box_fluid {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.inner-2__box_mansoryii {
  grid-column: 2 / 3;
  grid-row: 3 / 5;
}

.inner-2__box_overlap {
  grid-column: 3 / 5;
  grid-row: 1 / 2;
}

.inner-2__box_explicity {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
}

.inner-2__box_negative {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.inner-2__box_mansoryiii {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}

.inner-2__box_named {
  grid-column: 3 / 5;
  grid-row: 4 / 5;
}

.inner-3 {
  display: grid;
  grid-template-areas:
  'E A A A C C'
  'F A A A D D'
  'G I B B K L'
  'H J B B M N';
  gap: var(--gp-1-25);
  padding: var(--p-1-25);
}

.inner-3__box {
  position: relative;
  display: grid;
  place-items: center;
  border-radius: var(--main-br);
  z-index: 0;
}

.inner-3__box_1,
.inner-3__box_2 {
  background: linear-gradient(205deg, hsla(302, 82%, 76%, 1) 0%, hsla(258, 40%, 68%, 1) 100%);
}

.inner-3__box_3,
.inner-3__box_4 {
  background: linear-gradient(20deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
}

.inner-3__box_5,
.inner-3__box_6,
.inner-3__box_7,
.inner-3__box_8,
.inner-3__box_9,
.inner-3__box_10,
.inner-3__box_11,
.inner-3__box_12,
.inner-3__box_13,
.inner-3__box_14 {
  background: linear-gradient(40deg, hsla(48, 78%, 82%, 1) 0%, hsla(340, 87%, 59%, 1) 100%);
}

.inner-3__number {
  position: relative;
}

.inner-3__number::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 60px;
  height: 60px;
  box-shadow: inset 0 0 10px var(--black-color);
  background: #fff;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: -1;
}

.inner-3__box_1 {
  grid-area: A;
}

.inner-3__box_2 {
  max-width: 563px;
  grid-area: B;
}

.inner-3__box_3 {
  grid-area: C;
}

.inner-3__box_4 {
  grid-area: D;
}

.inner-3__box_5 {
  grid-area: E;
}

.inner-3__box_6 {
  grid-area: F;
}

.inner-3__box_7 {
  grid-area: G;
}

.inner-3__box_8 {
  grid-area: H;
}

.inner-3__box_9 {
  grid-area: I;
}

.inner-3__box_10 {
  grid-area: J;
}

.inner-3__box_11 {
  grid-area: K;
}

.inner-3__box_12 {
  grid-area: L;
}

.inner-3__box_13 {
  grid-area: M;
}

.inner-3__box_14 {
  grid-area: N;
}

.inner-4 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: var(--p-1-25);
}

.inner-4__box {
  display: grid;
  place-items: center;
  padding: var(--p-1-25);
  border-radius: var(--main-br);
}

.inner-4__box_1,
.inner-4__box_2,
.inner-4__box_3,
.inner-4__box_6,
.inner-4__box_7,
.inner-4__box_8 {
  background: hsl(var(--hue-color), 40%, 60%);
}

.inner-4__box_4,
.inner-4__box_5 {
  background: hsl(120, 40%, 50%);
}

.inner-4__box_1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.inner-4__box_2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.inner-4__box_3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.inner-4__box_4 {
  grid-column: 4 / 7;
  grid-row: 1 / 3;
}

.inner-4__box_5 {
  grid-column: 1 / 4;
  grid-row: 2 / 4;
}

.inner-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: var(--gp-1-25);
  padding: var(--p-1-25);
}

.inner-5__box {
  display: grid;
  place-items: center;
  border-radius: var(--main-br);
  background: var(--third-color);
}

.inner-5__box_1 {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.inner-5__box_2 {
  grid-column: 1 / 2;
  grid-row: 4 / 7;
}

.inner-5__box_3 {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
}

.inner-5__box_4 {
  grid-column: 2 / 3;
  grid-row: 4 / 6;
}

.inner-5__box_5 {
  grid-column: 2 / 3;
  grid-row: 6 / 7;
}

.inner-5__box_6 {
  grid-column: 3 / 4;
  grid-row: 1 / 6;
}

.inner-5__box_7 {
  grid-column: 3 / 5;
  grid-row: 6 / 7;
}

.inner-5__box_8 {
  grid-column: 4 / 6;
  grid-row: 1 / 3;
}

.inner-5__box_9 {
  grid-column: 4 / 5;
  grid-row: 3 / 6;
}

.inner-5__box_10 {
  grid-column: 5 / 6;
  grid-row: 3 / 7;
}

.inner-6 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: var(--gp-1-25);
  padding: var(--p-1-25);
}

.inner-6__box {
  display: grid;
  place-items: center;
  padding: var(--p-1-25);
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(90deg, hsla(41, 100%, 70%, 1) 0%, hsla(7, 76%, 47%, 1) 100%);
  border-image-slice: 1;
}

.inner-6__box_1 {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
}

.inner-6__box_2 {
  grid-column: 1 / 2;
  grid-row: 2 / 5;
}

.inner-6__box_3 {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

.inner-6__box_4 {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.inner-6__box_5 {
  grid-column: 2 / 5;
  grid-row: 3 / 4;
}

.inner-6__box_6 {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.inner-6__box_7 {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}

.inner-6__box_9 {
  grid-column: 1 / 5;
  grid-row: 5 / 6;
}

.inner-7 {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 2fr;
  gap: var(--gp-1-25);
  padding: var(--p-1-25);
}

.inner-7__box {
  display: grid;
  padding: var(--p-1-25);
  border-radius: var(--main-br);
  background: var(--third-color);
}

.inner-7__box_1 {
  display: grid;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.inner-7__box_1 .inner-7__box-text {
  justify-self: end;
  max-width: 930px;
  text-align: right;
}

.inner-7__box_2 {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.inner-7__box_3 {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
}

.inner-7__box_3 .inner-7__box-text {
  text-align: right;
}

.inner-8 {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  gap: var(--gp-1-25);
  padding: var(--p-1-25);
}

.inner-8__box {
  display: grid;
  place-items: center;
  padding: var(--p-1-25);
  border-radius: var(--main-br);
  background: var(--third-color);
}

.inner-8__box_4 {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}

.inner-9 {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 1fr 3fr 1fr;
  gap: var(--gp-1-25);
  padding: var(--p-1-25);
}

.inner-9__box {
  display: grid;
  place-items: center;
  border-radius: var(--main-br);
  padding: var(--p-1-25);
  background: var(--third-color);
}

.inner-9__box_1 {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.inner-9__box_2 {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

.inner-9__box_3 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.inner-9__box_4 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.inner-9__box_5 {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
}

.inner-10 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 2fr 2fr;
  gap: var(--gp-1-25);
  padding: var(--p-1-25);
}

.inner-10__box {
  display: grid;
  place-items: center;
  padding: var(--p-1-25);
  border-radius: var(--main-br);
  background: var(--third-color);
}

.inner-10__box_1 {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
}

.inner-10__box_2 {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.inner-10__box_6 {
  grid-column: 2 / 5;
  grid-row: 3 / 4;
}

.inner-11 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr 2fr 1fr;
  gap: var(--gp-1-25);
  padding: var(--p-1-25);
}

.inner-11__box {
  display: grid;
  place-items: center;
  padding: var(--p-1-25);
  border-radius: var(--main-br);
  background: var(--third-color);
}

.inner-11__box_1 {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
}

.inner-11__box_2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.inner-11__box_3 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.inner-11__box_4 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.inner-11__box_5 {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.inner-11__box_6 {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

.inner-11__box_7 {
  grid-column: 3 / 5;
  grid-row: 3 / 4;
}

.inner-11__box_8 {
  grid-column: 1 / 5;
  grid-row: 4 / 5;
}

.inner-12 {
  display: grid;
  grid-template-columns: 1fr 12fr;
  grid-auto-rows: 100%;
  border-radius: 0;
}

.inner-12__header {
  background: linear-gradient(40deg, hsla(347, 89%, 61%, 1) 0%, hsla(242, 42%, 40%, 1) 100%);
}

.inner-12__main {
  padding: var(--p-1-25);
  background: linear-gradient(180deg, hsla(347, 89%, 61%, 1) 0%, hsla(242, 42%, 40%, 1) 100%);
}

.main-12__top {
  min-height: 100px;
  margin-bottom: var(--mb-1-5);
  background: var(--third-color);
}

.main-12__center {
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-auto-rows: 100%;
  column-gap: 50px;
  min-height: 786px;
  background: var(--third-color);
}

.center-12__left {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: var(--gp-1-25);
  background: var(--fourth-color);
}

.left-12__box {
  background: hsl(200, 40%, 30%);
}

.center-12__right {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2fr 3fr 2fr;
  gap: var(--gp-1-25);
  background: var(--fourth-color);
}

.right-12__box {
  background: hsl(221, 66%, 64%);
}

.right-12__box_1 {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
}

.right-12__box_6 {
  grid-column: 1 / 5;
  grid-row: 3 / 4;
}
